.quarter{
border: black 6px solid;
box-sizing: border-box;
}
#circle{
  width:500px;
  height: 500px;
  border-radius: 500px;
  background: grey;
  border: black 3px solid;
  margin: auto;
}
#top, #bottom{
    display:flex;
}
#red{
  width: 250px;
height: 250px;
background: red;
&:hover{
  background-color: darken(red, 10%);
}
border-radius: 0 0 250px 0;
-moz-border-radius: 0 0 250px 0;
-webkit-border-radius: 0 0 250px 0;
flex: 1;
}
#blue{
  width: 250px;
    height: 250px;
    background: blue;
    &:hover{
      background-color: darken(blue, 10%);
    }
    border-radius: 0 0 0 250px;
    -moz-border-radius: 0 0 0 250px;
    -webkit-border-radius: 0 0 0 250px;
    flex: 0 0 50%;
}
#green{
  width: 250px;
    height: 250px;
    background: green;
    &:hover{
      background-color: darken(green, 10%);
    }
    border-radius: 0 250px 0 0;
    -moz-border-radius: 0 250px 0 0;
    -webkit-border-radius: 0 250px 0 0;
    flex: 1;
}
#yellow{
  width: 250px;
   height: 250px;
   background: yellow;
   &:hover{
     background-color: darken(yellow, 10%);
   }
   border-radius: 250px 0 0 0;
   -moz-border-radius: 250px 0 0 0;
   -webkit-border-radius: 250px 0 0 0;
   flex: 0 0 50%;
}
