*{
  font-family: monospace;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.quarter{
border: black 6px solid;
box-sizing: border-box;
}
#counter{
  width: 50px;
  height: 35px;
  color: red;
  background-color: black;
  margin: 5px auto;
}
#control{
  background: white;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  position: absolute;
  margin:auto;
  z-index: 10000;
  border: black 12px solid;
  top: 0; left: 0; bottom: 0; right: 0;
  display:table;
  #control-content{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
  }
}
#circle{
  width:500px;
  height: 500px;
  border-radius: 500px;
  background: grey;
  border: black 3px solid;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;

}
#top, #bottom{
    display:flex;
}
#red{
  width: 250px;
height: 250px;
background: red;
&:hover{
  background-color: darken(red, 10%) !important;
}
&:active{
  background:black;
}
border-radius: 0 0 250px 0;
-moz-border-radius: 0 0 250px 0;
-webkit-border-radius: 0 0 250px 0;
flex: 1;
}
#blue{
  width: 250px;
    height: 250px;
    background: blue;
    &:hover{
      background-color: darken(blue, 10%) !important;
    }
    &:active{
      background:black;
    }
    border-radius: 0 0 0 250px;
    -moz-border-radius: 0 0 0 250px;
    -webkit-border-radius: 0 0 0 250px;
    flex: 0 0 50%;
}
#green{
  width: 250px;
    height: 250px;
    background: green;
    &:hover{
      background-color: darken(green, 10%) !important;
    }
    &:active{
      background:black;
    }
    border-radius: 0 250px 0 0;
    -moz-border-radius: 0 250px 0 0;
    -webkit-border-radius: 0 250px 0 0;
    flex: 1;
}
#yellow{
  width: 250px;
   height: 250px;
   background: yellow;
   &:hover{
     background-color: darken(yellow, 10%) !important;
   }
   &:active{
     background:black;
   }
   border-radius: 250px 0 0 0;
   -moz-border-radius: 250px 0 0 0;
   -webkit-border-radius: 250px 0 0 0;
   flex: 0 0 50%;
}
.blacken{
  background: black !important;
}
