$mediumGreen: #92da49;
$highlightGreen: #b8e686;
$textColour: white;
*{
  box-sizing: border-box;
  font-size: 1.05em;
}
h1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: $textColour;
}
form{
  margin: 20px;
  padding-top: 20px;
  span input{
    width: 80%;
    float: right;
    margin: auto;
  }
}
.activeFilter{
  height: 30px;
  width: 100%;
  background-color: $highlightGreen;
}
#cell-info{
  background-color: $mediumGreen;
  height: 20px;
}
#location-icon{
  width: 20px;
}
#container, #top-info{
  width: 676px;
  margin: auto;
}
#top-info{
  height: 120px;
  background-color: $mediumGreen;
}
#navbar{
  width: 100%;
  height: 150px;
}
#options{
  width: 100%;
  height: 900px;
}
ul{
  height: 50px;
}
li{
  display:inline;
  margin: 20px;
  padding: 10px;
  border: 2px solid white;
  color: $textColour;
}
